# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.git
*~
*.swp
*.bak
*.tmp
*.orig
.DS_Store
# Common vcs dirs
.hg
.bzr
.svn
# Common backup dirs
._*
# Go local files
/*.local
